<a href="https://colab.research.google.com/github/ankitnagarsheth/aria/blob/master/03_XX_Using_BigQuery_with_Datalab.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<center><h1><font color='green'>Datalab BigQuery integration </font></h1></center>
<br/>

<h2>03_02. Using Big Query Commands </h2>

In [1]:
%%bq --help

UsageError: Cell magic `%%bq` not found.

In [0]:
%%bq tables list

<h2>03_03.Reading data from BigQuery</h2>

Big Query queries can be directly executed using the bq command option

In [0]:
%%bq query
SELECT CustomerName,Gender,Age,Salary
FROM EDA.website_visits 
WHERE CustomerType=1
LIMIT 10

QueryResultsTable job_Iv2XPJVcB-VmiJta7r5hIvpJnkl8

<h4>Creating named Queries </h4>

In [2]:
query --name customer
SELECT CustomerName,Gender,Age,Salary
FROM EDA.website_visits 
WHERE CustomerType=1
LIMIT 10

SyntaxError: ignored

<h2>03_04.Working with Data Frames <h2>

<h4>Reading from a BigQuery table to a DataFrame</h4>

In [3]:
#import BigQuery library
import google.datalab.bigquery as bq

#create a query object
cust_query = bq.Query('SELECT CustomerName,Gender,Age,Salary FROM EDA.website_visits WHERE CustomerType=1 LIMIT 10')

#Execute the query and create a results object
output_options = bq.QueryOutput.table(use_cache=False)
cust_results = cust_query.execute(output_options=output_options).result()

#Convert the results objects to a dataframe
cust_df = cust_results.to_dataframe()
print(cust_df)

ImportError: ignored

<h2>03_05.Writing to BigQuery</h2>

In [0]:
#Get schema from existing dataframe
schema = bq.Schema.from_data(cust_df)

#create table with schema
cust_1_table = bq.Table('EDA.Type1Customers').create(schema = schema, overwrite = True)

In [0]:
#insert data into the new table
cust_1_table.insert(cust_df)

BigQuery Table - name: course-prep.EDA.Type1Customers

In [0]:
#Query data in the table to see the rows inserted
%%bq query 
SELECT * FROM EDA.Type1Customers

QueryResultsTable job_AnLlHwJBdtzvqLQ12kTULVNQTgi-

In [0]:
from google.colab import auth
auth.authenticate_user()

In [0]:
from google.cloud import bigquery

# https://cloud.google.com/resource-manager/docs/creating-managing-projects
project_id = '[your Cloud Platform project ID]'
client = bigquery.Client(project=project_id)

for dataset in client.list_datasets():
  print(dataset.dataset_id)